#fbottom {
  width: 100%;
  height: 214px;
  background: black;
  color: white;
  margin: auto;
}

#fbottom ul li {
  list-style: none;
}

#fbottom .list1 {
  width: 400px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  font-size: 12px;
}

#fbottom .list1 li {
  float: left;
  margin: 0px 5px;
}

#fbottom .list1 li span:nth-child(1):hover {
  border-bottom: 1px solid #ccc;
}

#fbottom .list1 li span:nth-child(2) {
  padding-left: 5px;
}

#fbottom .p1 {
  font-size: 12px;
  text-align: center;
}

#fbottom .p1 span:nth-child(1):hover,
#fbottom .p1 span:nth-child(5):hover {
  border-bottom: 1px solid #ccc;
}

#fbottom .p2,
#fbottom .p3 {
  text-align: center;
  font-size: 12px;
}

#fbottom p {
  margin-top: 15px;
}

#fbottom .list2 {
  width: 512px;
  padding: 20px 0px;
  margin: auto;
}

#fbottom .list2 li {
  float: left;
  margin-right: 20px;
}

#fbottom .list2 li img {
  width: 108px;
  height: 40px;
}
