* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

input {
    outline: none;
    border: none;
}

/* 头部 */
.header-wrap {
    width: 100%;
    height: 90px;
    margin-top: 5px;
    border-bottom: 2px solid #ccc;

    .public-head-layout {
        width: 1000px;
        height: 80px;
        margin: auto;


        .site-logo {
            width: 350px;
            height: 68px;
            margin-top: 10px;
            position: relative;

            img {
                width: 240px;
                height: 68px;
            }

            span {
                display: block;
                width: 110px;
                height: 40px;
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 24px;
                line-height: 30px;
                color: #333;
                // font-weight: 600;
                font-style: normal;
                font-weight: normal;
            }
        }
    }
}

/* ---提示- */
.tips-wrapper {
    width: 100%;
    height: 20px;
    background: #fff8f0;
    padding: 10px 0px;

    .tips-inner {
        width: 100%;
        height: 20px;

        .cont-wrapper {
            width: 1214px;
            height: 20px;
            margin: auto;
            text-align: center;
            color: #999;
            // i {
            // float: left;
            // }

            p {
                // float: left;
                display: inline-block;
                // text-align: center;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

/* ----中间-------- */
.nc-login-layout {
    width: 100%;
    height: 480px;
    background: #e93854;
    position: relative;

    /* 背景图 */
    .login-banner {
        // width: 1000px;
        // position: relative;

        .banner-bg {
            width: 1000px;
            height: 480px;
            margin: auto;
            // img {
            //     width: 100px;
            //     height: 480px;
            // }
            // float: left;

        }


    }

    /* 表单 */
    .wrapper {
        width: 1000px;
        margin: auto;
        // float: left;
        // position: relative;

        .nc-login {
            width: 346px;
            // height: 340px;
            margin-top: 10px;
            background: white;


            position: absolute;
            // right: 0px;
            top: 0px;
            right: 175px;
            z-index: 2;
            // background-color: #FFF;
            width: 346px;
            padding: 0;
            margin-top: 10px;
            float: right;

            /* 表单切换栏 */
            .loginModule {

                //    width: ;  
                /* 切换栏 */
                .login-tabs-nav {
                    width: 346px;
                    height: 54px;
                    border-bottom: 1px solid #ccc;

                    li {
                        width: 173px;
                        height: 54px;
                        box-sizing: border-box;
                        text-align: center;
                        line-height: 54px;
                        font-size: 18px;
                        font-weight: bolder;

                        &:hover {
                            color: #E4393C;
                        }
                    }

                    li:nth-child(1) {
                        float: left;
                        border-right: 1px solid #ccc;
                    }

                    li:nth-child(2) {
                        float: right;
                    }

                    .active {
                        color: #E4393C;
                    }
                }


                .tabs_container {
                    width: 306px;
                    // height: 194px;
                    margin: 20px;


                    /* 用户登录 */

                    .commonModule {
                        width: 306px;
                        // height: 216px;
                        margin: auto;

                        /* 手机号，密码 */
                        .item-fore1,
                        .item-fore2 {
                            width: 304px;
                            height: 38px;
                            border: 1px solid #ccc;
                            margin-bottom: 22px;
                            position: relative;

                            /* 小图标 */
                            #login-label {
                                display: inline-block;
                                width: 38px;
                                height: 38px;
                                border-right: 1px solid #aaa;
                                text-align: center;
                                line-height: 38px;
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                background: #eee;
                                z-index: 2;
                            }

                            input {
                                // width: 254px;
                                // height: 18px;
                                // padding: 10px 0px 10px 50px;
                                // overflow: hidden;
                                overflow: hidden;
                                float: none;
                                width: 254px;
                                height: 18px;
                                min-height: 18px;
                                padding: 10px 0 10px 50px;
                                border: 0;
                                font-family: '\5b8b\4f53';
                                font-size: 14px;
                                line-height: 18px;
                                margin-bottom: 2px;
                            }

                            .error {
                                padding: 1px 10px 1px 10px;
                                margin: 2px -1px 0 -1px;
                                border: 1px solid #faccc6;
                                background: #ffebeb;
                                color: #e4393c;
                                line-height: 16px;
                            }
                        }

                        /* 七天免登录 */
                        .item-fore4 {
                            width: 306px;
                            height: 18px;
                            margin-top: 25px;
                            margin-bottom: 10px;
                            // background: burlywood;
                            font-size: 12px;
                            line-height: 18px;

                            .auto {
                                float: left;
                                position: relative;

                                em {
                                    font-style: normal;
                                    position: absolute;
                                    left: 90px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    margin-left: 5px;
                                    color: rgb(255, 50, 56);
                                    display: inline;
                                    width: 150px;
                                }

                            }

                            .forget-pw-safe {
                                float: right;
                            }
                        }

                        /* 登录按钮 */

                    }


                    /* 用户登录的登录按钮 */
                    .item-fore5 {
                        width: 306px;
                        height: 42px;
                        margin-bottom: 22px;

                        /* 点击发送验证码 */
                        .slide-imgver-btn {
                            margin-bottom: 20px;
                            width: 306px;
                            height: 40px;
                            border: 1px solid rgb(22, 189, 83);
                            border-radius: 20px;
                            text-align: center;
                            line-height: 40px;
                            position: relative;

                            i {
                                width: 20px;
                                height: 20px;
                                background: url(../../img/05login/slider-click.png);
                                position: absolute;
                                left: 30px;
                                top: 50%;
                                transform: translateY((-50%));

                            }
                        }

                        /* 验证成功 */
                        #successPass {
                            // .slide-imgver-btn {
                            margin-bottom: 20px;
                            width: 306px;
                            height: 40px;
                            border: 1px solid rgb(22, 189, 83);
                            border-radius: 20px;
                            text-align: center;
                            line-height: 40px;
                            position: relative;

                            .icon-yanzhengchenggong {
                                width: 20px;
                                height: 20px;
                                // background: url(../../img/05login/slider-click.png);
                                position: absolute;
                                left: 30px;
                                top: 30%;
                                transform: translateY((-50%));
                                color: rgb(22, 189, 83);
                                font-size: 20px;

                            }

                            // }
                        }

                        // #successPass {
                        //     margin-bottom: 20px;
                        //     width: 306px;
                        //     height: 40px;
                        //     border: 1px solid rgb(22, 189, 83);
                        //     border-radius: 20px;
                        //     // text-align: center;
                        //     line-height: 40px;
                        //     // position: relative;

                        //     .slide-imgver-btn-success {
                        //         margin-bottom: 20px;
                        //         width: 306px;
                        //         height: 40px;
                        //         border: 1px solid rgb(22, 189, 83);
                        //         border-radius: 20px;
                        //         text-align: center;
                        //         line-height: 40px;
                        //         position: relative;

                        //         .icon-yanzhengchenggong {
                        //             width: 20px;
                        //             height: 20px;
                        //             // background: url(../../img/05login/slider-click.png);
                        //             position: absolute;
                        //             left: 30px;
                        //             top: 50%;
                        //             transform: translateY((-50%));
                        //             color: rgb(22, 189, 83);
                        //             // background: rgb(22, 189, 83);
                        //         }

                        //         span {
                        //             text-align: center;
                        //             // line-height: 40px;
                        //             color: rgb(22, 189, 83);
                        //         }
                        //     }

                        // }
                    }





                    /* 手机动态码登录 */
                    #mobileModule {
                        width: 306px;

                        #mobileForm {
                            width: 306px;

                            .item-fore1,
                            .item-fore3 {
                                width: 304px;
                                height: 38px;
                                border: 1px solid #ccc;
                                margin-bottom: 22px;
                                position: relative;

                                /* 小图标 */
                                #login-label {
                                    display: inline-block;
                                    width: 38px;
                                    height: 38px;
                                    border-right: 1px solid #aaa;
                                    text-align: center;
                                    line-height: 38px;
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    background: #eee;
                                    z-index: 2;
                                }

                                input {
                                    // width: 254px;
                                    // height: 18px;
                                    // padding: 10px 0px 10px 50px;
                                    // overflow: hidden;
                                    overflow: hidden;
                                    float: none;
                                    width: 254px;
                                    height: 18px;
                                    min-height: 18px;
                                    padding: 10px 0 10px 50px;
                                    border: 0;
                                    font-family: '\5b8b\4f53';
                                    font-size: 14px;
                                    line-height: 18px;
                                    margin-bottom: 2px;
                                }

                                .error {
                                    // width: 100%;
                                    padding: 1px 10px 1px 10px;
                                    margin: 2px -1px 0 -1px;
                                    border: 1px solid #faccc6;
                                    background: #ffebeb;
                                    color: #e4393c;
                                    line-height: 16px;
                                }
                            }

                            .item-fore3 {
                                margin-top: 20px;
                            }

                            /*  点击发送验证码*/
                            .item-fore2 {
                                margin-top: 25px;

                                /* 点击发送验证码 */
                                .slide-imgver-btn {
                                    margin-bottom: 20px;
                                    width: 306px;
                                    height: 40px;
                                    border: 1px solid rgb(22, 189, 83);
                                    border-radius: 20px;
                                    text-align: center;
                                    line-height: 40px;
                                    position: relative;

                                    i {
                                        width: 20px;
                                        height: 20px;
                                        background: url(../../img/05login/slider-click.png);
                                        position: absolute;
                                        left: 30px;
                                        top: 50%;
                                        transform: translateY((-50%));

                                    }
                                }

                                /* 验证成功 */
                                #successPass {
                                    // .slide-imgver-btn {
                                    margin-bottom: 20px;
                                    width: 306px;
                                    height: 40px;
                                    border: 1px solid rgb(22, 189, 83);
                                    border-radius: 20px;
                                    text-align: center;
                                    line-height: 40px;
                                    position: relative;

                                    .icon-yanzhengchenggong {
                                        width: 20px;
                                        height: 20px;
                                        // background: url(../../img/05login/slider-click.png);
                                        position: absolute;
                                        left: 30px;
                                        top: 30%;
                                        transform: translateY((-50%));
                                        color: rgb(22, 189, 83);
                                        font-size: 20px;

                                    }

                                    // }
                                }
                            }





                            /*------登录按钮------  */
                            .item-fore-logoin {
                                width: 306px;
                                height: 34px;
                                margin-bottom: 10px;
                                margin-top: 40px;

                                .login-btn {
                                    width: 303px;
                                    height: 32px;
                                    border: 1px solid #e85356;
                                    background: #e4393c;
                                    margin: auto;

                                    #mobileSubmit {
                                        width: 300px;
                                        height: 30px;
                                        // border: 1px solid #e85356;
                                        background: #e4393c;
                                        font-size: 20px;
                                        line-height: 32px;
                                        text-align: center;
                                        color: white;
                                    }
                                }

                            }
                        }
                    }
                }
            }

        }


        /* 表单底部 */
        #demo-form-site {
            width: 100%;
            height: 50px;
            border-top: 1px solid #ccc;
            margin: auto;
            // background: orange;

            ul {
                width: 306px;
                height: 50px;
                margin: auto;

                li {
                    line-height: 50px;
                }

                li:nth-child(1) {
                    float: left;

                    .icon-weixin {
                        color: green;
                        font-size: 20px;
                    }
                }

                li:nth-child(2) {
                    float: right;


                    a {
                        color: red;

                        .icon-jiantou {
                            // color: red;
                            font-size: 20px;
                        }
                    }

                }
            }
        }
    }

}

// }