@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

h3,
em,
i {
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
  border: none;
}

#main {
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: 2px;
  /* 头部 */
  /* 列表数据 */
}

#main .other {
  width: 100%;
  position: relative;
  /* z中间  */
  /* 底部 */
}

#main .other .top {
  width: 1210px;
  height: 31px;
  margin: auto;
  padding: 10px 0px;
}

#main .other .top .fruit-top-list {
  /* 生鲜水果 */
  /* 箭头 */
  /* 水果 */
}

#main .other .top .fruit-top-list .list1 {
  float: left;
  line-height: 31px;
}

#main .other .top .fruit-top-list .list1_1 {
  width: 88px;
  height: 26px;
  position: relative;
  /* ul */
}

#main .other .top .fruit-top-list .list1_1 div {
  width: 72px;
  height: 22px;
  padding: 1px 7px 2px 7px;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

#main .other .top .fruit-top-list .list1_1 div span {
  float: left;
}

#main .other .top .fruit-top-list .list1_1:hover {
  border-top-color: red;
  border-left-color: red;
  border-right-color: red;
  border-bottom-color: white;
  background: white;
}

#main .other .top .fruit-top-list .list1_1:hover .list2 {
  display: block;
}

#main .other .top .fruit-top-list .list1_1:hover div {
  border-top-color: red;
  border-left-color: red;
  border-right-color: red;
  border-bottom-color: white;
  background: white;
}

#main .other .top .fruit-top-list .list1_1 .list2 {
  position: absolute;
  left: 0px;
  top: 27px;
  z-index: 2;
  width: 272px;
  height: 185px;
  padding: 5px;
  background: white;
  border: 1px solid red;
  display: none;
}

#main .other .top .fruit-top-list .list1_1 .list2 li {
  float: left;
  height: 24px;
  padding: 4px;
  width: 60px;
}

#main .other .top .fruit-top-list .list1_1 .list2 li a {
  height: 24px;
  font-size: 12px;
}

#main .other .top .fruit-top-list .list1_1 .list2 li a:hover {
  color: red;
}

#main .other .top .fruit-top-list .icon-jiantou {
  margin: 0px 6px;
}

#main .other .top .fruit-top-list .list1_3 {
  position: relative;
}

#main .other .top .fruit-top-list .list1_3 div {
  width: 48px;
  height: 22px;
  padding: 1px 7px;
  border: 1px solid #ccc;
  line-height: 22px;
  font-size: 14px;
  text-align: center;
}

#main .other .top .fruit-top-list .list1_3 div:hover {
  border-top-color: red;
  border-left-color: red;
  border-right-color: red;
  border-bottom-color: white;
  background: white;
}

#main .other .top .fruit-top-list .list1_3 div span {
  float: left;
}

#main .other .top .fruit-top-list .list1_3:hover .list2 {
  display: block;
}

#main .other .top .fruit-top-list .list1_3:hover div {
  border-top-color: red;
  border-left-color: red;
  border-right-color: red;
  border-bottom-color: white;
  background: white;
}

#main .other .top .fruit-top-list .list1_3 .list2 {
  position: absolute;
  left: 0px;
  top: 26px;
  width: 272px;
  height: 37px;
  padding: 5px;
  background: white;
  border: 1px solid red;
  display: none;
}

#main .other .top .fruit-top-list .list1_3 .list2 li {
  float: left;
  height: 24px;
  padding: 4px;
  width: 60px;
}

#main .other .top .fruit-top-list .list1_3 .list2 li a {
  height: 24px;
  font-size: 12px;
}

#main .other .top .fruit-top-list .list1_3 .list2 li a:hover {
  color: red;
}

#main .other .middle {
  width: 1210px;
  height: 73px;
  font-size: 12px;
  font-weight: normal;
  margin: auto;
  margin-bottom: 10px;
  /* 顶部 */
}

#main .other .middle .middle-title {
  display: block;
  height: 24px;
  padding: 6px 10px;
  border: solid #DDD;
  border-width: 1px;
  background-color: #F2F2F2;
  line-height: 20px;
}

#main .other .middle .middle-title .c-danger {
  color: #FF5B57 !important;
}

#main .other .middle .middle-content {
  width: 1210px;
  height: 35px;
  overflow: hidden;
  background-color: #FFF;
  position: relative;
  z-index: 1;
}

#main .other .middle .middle-content dl {
  width: 1210px;
  height: 34px;
  border-bottom: 1px solid #ccc;
  line-height: 34px;
}

#main .other .middle .middle-content dl dt {
  float: left;
  width: 70px;
  height: 22px;
  padding: 6px 0px 6px 10px;
  border-right: 1px solid #ccc;
  line-height: 22px;
}

#main .other .middle .middle-content dl dd {
  float: left;
  width: 963px;
  height: 22px;
  padding: 6px 10px;
  line-height: 22px;
}

#main .other .middle .middle-content dl dd ul {
  width: 963px;
  height: 24px;
}

#main .other .middle .middle-content dl dd ul li {
  float: left;
  width: 48px;
  height: 24px;
  margin-right: 40px;
}

#main .other .middle .middle-content dl dd ul li a {
  width: 48px;
  height: 24px;
}

#main .other .middle .middle-content dl dd ul li a:hover {
  color: red;
}

#main .other .bottom {
  width: 100%;
  height: 43px;
}

#main .other .bottom #main-nav {
  width: 1210px;
  height: 38px;
  border-top: 1px solid #ccc;
  margin: auto;
}

#main .other .bottom #main-nav .sort-bar-wrap {
  width: 1184px;
  height: 37px;
  padding: 0px 8px;
  border-bottom: 1px solid #ccc;
  margin: auto;
  background: #F1F1F1;
  /* 排序 */
  /* 价格区间 */
  /* 起购量 */
  /*经营类型、促销活动、销售模式  */
  /* 赠品、包邮 */
}

#main .other .bottom #main-nav .sort-bar-wrap div {
  float: left;
  font-size: 12px;
}

#main .other .bottom #main-nav .sort-bar-wrap .item {
  border-right: 1px solid #ccc;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array {
  width: 230px;
  height: 25px;
  padding: 6px 13px 6px 0px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul li {
  float: left;
  display: block;
  text-align: center;
  height: 25px;
  line-height: 25px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul li a {
  height: 23px;
  display: block;
  padding: 0px 9px;
  border: 1px solid #ccc;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul .selected a {
  background: #f30213;
  color: white;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul li:nth-child(1) {
  width: 68px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul li:nth-child(1) a {
  width: 48px;
  height: 23px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul li:nth-child(2) {
  width: 56px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul li:nth-child(2) a {
  width: 36px;
  height: 23px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul li:nth-child(3) {
  width: 61px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul li:nth-child(3) a {
  width: 41px;
  height: 23px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul li:nth-child(3) a span {
  float: left;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul li:nth-child(3) a i {
  float: left;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-array ul li:nth-child(4) a {
  width: 24px;
}

#main .other .bottom #main-nav .sort-bar-wrap #nchSortbarPrice {
  height: 25px;
  padding: 6px 14px;
  line-height: 25px;
}

#main .other .bottom #main-nav .sort-bar-wrap #nchSortbarPrice div {
  /* 确定按钮 */
}

#main .other .bottom #main-nav .sort-bar-wrap #nchSortbarPrice div input {
  width: 53px;
  height: 23px;
  padding: 0px 2px;
  border: 1px solid #ccc;
  float: left;
}

#main .other .bottom #main-nav .sort-bar-wrap #nchSortbarPrice div span {
  float: left;
  width: 12px;
  height: 25px;
  display: block;
  text-align: center;
}

#main .other .bottom #main-nav .sort-bar-wrap #nchSortbarPrice div #nchSortbarPriceBtn {
  float: left;
  display: block;
  width: 24px;
  height: 20px;
  padding: 1px 9px 3px 9px;
  border: 1px solid #ccc;
  margin-left: 14px;
  border-color: #f30213;
}

#main .other .bottom #main-nav .sort-bar-wrap #nchSortbarPrice div #nchSortbarPriceBtn:hover {
  background: #f30213;
  color: white;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-since {
  height: 25px;
  padding: 6px 14px;
  line-height: 25px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-since .fl {
  float: left;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-since input {
  float: left;
  width: 40px;
  height: 23px;
  border: 1px solid #ccc;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-since a {
  float: left;
  width: 24px;
  height: 20px;
  padding: 1px 9px 3px 9px;
  border: 1px solid #ccc;
  margin-left: 14px;
  border-color: #f30213;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-since a:hover {
  background: #f30213;
  color: white;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-filter {
  position: relative;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-filter ul {
  display: none;
  position: absolute;
  left: -1px;
  top: 36px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-filter ul li {
  width: 98px;
  height: 32px;
  line-height: 32px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-filter ul li:hover {
  background: #f5f5fa;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-filter ul li a {
  height: 20px;
  padding: 6px 14px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-filter ul li a:hover {
  color: red;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-filter p {
  width: 70px;
  height: 25px;
  padding: 6px 14px;
  line-height: 25px;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-filter:hover ul {
  display: block;
  background: #fff;
}

#main .other .bottom #main-nav .sort-bar-wrap .nch-sortbar-filter:hover {
  background: #fff;
}

#main .other .bottom #main-nav .sort-bar-wrap .select-gift {
  width: 46px;
  height: 25px;
  padding: 6px 14px;
  line-height: 25px;
  text-align: center;
}

#main .other .bottom #main-nav .sort-bar-wrap .select-gift:hover {
  color: red;
}

#main .rest {
  width: 100%;
  /* ul */
  /* 底部分页功能 */
}

#main .rest .list_pic {
  width: 1210px;
  margin: auto;
  height: 1940px;
  /* li */
}

#main .rest .list_pic li {
  width: 240px;
  height: 475px;
  margin-top: 10px;
  float: left;
}

#main .rest .list_pic li:hover .goods-content {
  border-color: red;
}

#main .rest .list_pic li .goods-content {
  width: 220px;
  height: 425px;
  padding: 38px 9px 10px 9px;
  border: 1px solid white;
  /* 图片 */
  /* 其他内容 */
  /* 商品详细信息 */
}

#main .rest .list_pic li .goods-content .goods-pic img {
  width: 220px;
  height: 220px;
}

#main .rest .list_pic li .goods-content .goods-info {
  width: 220px;
  height: 196px;
  /* 价格 */
  /* 标题 */
  /*成交 评论 */
  /* 官方店铺 */
  /* 自营 */
  /* 收藏+添加到购物车 */
}

#main .rest .list_pic li .goods-content .goods-info .goods-price-deal {
  width: 220px;
  height: 45px;
  /* 价格 */
}

#main .rest .list_pic li .goods-content .goods-info .goods-price-deal .goods-price-offer {
  width: 220px;
  height: 22px;
  padding-top: 15px;
  padding-bottom: 8px;
  color: #e4393c;
  /* 价格显示 */
  /* 限时折扣 */
}

#main .rest .list_pic li .goods-content .goods-info .goods-price-deal .goods-price-offer .number {
  float: left;
}

#main .rest .list_pic li .goods-content .goods-info .goods-price-deal .goods-price-offer .number .integer {
  font-size: 20px;
}

#main .rest .list_pic li .goods-content .goods-info .goods-price-deal .goods-price-offer i {
  float: right;
  height: 14px;
  padding: 0px 2px;
  margin-top: 4px;
  margin-right: 6px;
  border-radius: 2px;
  background-color: #f30213;
  font-size: 11px;
  color: #FFF;
  line-height: 14px;
}

#main .rest .list_pic li .goods-content .goods-info .p-name {
  width: 220px;
  height: 40px;
  margin-bottom: 8px;
  overflow: hidden;
}

#main .rest .list_pic li .goods-content .goods-info .p-name a {
  width: 220px;
  height: 40px;
  margin-bottom: 8px;
  overflow: hidden;
  color: #333;
  font-size: 12px;
}

#main .rest .list_pic li .goods-content .goods-info .p-name a .span1:hover {
  color: #c81623;
}

#main .rest .list_pic li .goods-content .goods-info .p-name a .span2 {
  color: #ffaa71;
}

#main .rest .list_pic li .goods-content .goods-info .p-commit {
  width: 220px;
  height: 18px;
  margin-top: -3px;
  margin-bottom: 9px;
  font-size: 12px;
}

#main .rest .list_pic li .goods-content .goods-info .p-commit strong {
  color: #a7a7a7;
  font-weight: 400;
}

#main .rest .list_pic li .goods-content .goods-info .p-commit strong:nth-child(2) {
  margin-left: 20px;
}

#main .rest .list_pic li .goods-content .goods-info .p-commit .m-r-10 a,
#main .rest .list_pic li .goods-content .goods-info .p-commit .m-r-20 a {
  font-family: verdana;
  font-weight: 700;
  color: #999;
}

#main .rest .list_pic li .goods-content .goods-info .p-commit .m-r-20 a {
  color: #646fb0;
}

#main .rest .list_pic li .goods-content .goods-info .p-shop {
  width: 220px;
  height: 18px;
  font-size: 12px;
  margin-top: -3px;
  margin-bottom: 9px;
  color: #666;
}

#main .rest .list_pic li .goods-content .goods-info .p-shop span {
  display: block;
  height: 18px;
  width: 96px;
  line-height: 18px;
}

#main .rest .list_pic li .goods-content .goods-info .p-shop span a {
  display: block;
  color: #666;
}

#main .rest .list_pic li .goods-content .goods-info .p-icons {
  width: 220px;
  height: 16px;
  margin-bottom: 12px;
  font-size: 12px;
}

#main .rest .list_pic li .goods-content .goods-info .p-icons i {
  width: 24px;
  height: 16px;
  padding: 0px 3px;
  margin-right: 3px;
  color: white;
  background: #F30213;
}

#main .rest .list_pic li .goods-content .goods-info .p-operate {
  font-size: 12px;
  width: 220px;
  height: 27px;
  margin-bottom: 10px;
  line-height: 27px;
  /* 收藏 */
  /* 加入购物车 */
}

#main .rest .list_pic li .goods-content .goods-info .p-operate .p-o-btn {
  float: left;
}

#main .rest .list_pic li .goods-content .goods-info .p-operate .focus {
  width: 28px;
  height: 25px;
  padding: 0px 3px 0px 24px;
  position: relative;
  border: 1px solid #ccc;
}

#main .rest .list_pic li .goods-content .goods-info .p-operate .focus:hover {
  border-color: red;
}

#main .rest .list_pic li .goods-content .goods-info .p-operate .focus:hover a {
  color: red;
}

#main .rest .list_pic li .goods-content .goods-info .p-operate .focus a i {
  position: absolute;
  top: 0px;
  left: 4px;
  display: block;
  width: 18px;
  height: 18px;
  z-index: 2;
}

#main .rest .list_pic li .goods-content .goods-info .p-operate .addcart {
  width: 78px;
  height: 25px;
  padding: 0px 3px 0px 24px;
  border: 1px solid #ccc;
  position: relative;
}

#main .rest .list_pic li .goods-content .goods-info .p-operate .addcart:hover {
  border-color: red;
}

#main .rest .list_pic li .goods-content .goods-info .p-operate .addcart a {
  width: 78px;
  height: 25px;
  color: red;
}

#main .rest .list_pic li .goods-content .goods-info .p-operate .addcart a i {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 4px;
  top: 0px;
}

#main .rest .pagination {
  width: 1210px;
  padding: 15px 0px;
  margin: 10px auto;
}

#main .rest .pagination ul {
  height: 38px;
  float: right;
}

#main .rest .pagination ul #page li {
  float: left;
}

#main .rest .pagination ul li,
#main .rest .pagination ul div {
  float: left;
  line-height: 38px;
  margin-left: 2px;
  margin-right: 10px;
}

#main .rest .pagination ul li a span,
#main .rest .pagination ul div a span {
  display: block;
  height: 36px;
  padding: 0px 14px;
  border: 1px solid #ccc;
}

#main .rest .pagination ul .active {
  background: red;
}

#main .rest .pagination ul .active a {
  color: white;
}

#main .rest .pagination ul .active span {
  border-color: red;
}

/* 底部 */
#foot {
  margin-top: 50px;
}
