* {
    margin: 0;
    padding: 0;
}

#main {
    width: 1210px;
    // height: 800px;
    margin: auto;
    background: yellow;

    .other {
        width: 1210px;
        height: 300px;
        background: orange;

        .top {
            width: 1210px;
            height: 100px;
            background: palevioletred;
        }

        .middle {
            width: 1210px;
            height: 100px;
            background: aqua;
        }

        .bottom {
            width: 1210px;
            height: 100px;
            background: cornflowerblue;
        }
    }
}