ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ul */
.list-all {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 180px;
    height: 442px;
    /* padding: 19px 0px; */
    background: #aaa;
}

.cate-menu-item .cate-menu-box {
    width: 168px;
    height: 34px;
    padding-left: 12px;
    background: #999;
    /* float: left; */
    line-height: 34px;

}

.cate-menu-item .cate-part {
    float: left;
    width: 998px;
    height: 442px;
    display: none;
    position: absolute;
    /* margin-left: 168px; */
    left: 180px;
    top: 0px;

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

li:hover .cate-part {
    display: block;
    background: #ccc;
}

.cate-menu-item .cate-detail-tit {
    float: left;
    width: 70px;
    height: 34px;
    /* float: left; */
}

.cate-menu-item .cate-detail-con {
    float: left;
    /* width: 660px; */
    width: 660px;
    height: 24px;
    padding: 6px 0px;
    float: left;
    margin: 0px
}

.cate-menu-item .cate-part-col1 {
    width: 740px;
    height: 147px;
    padding: 20px 0px 10px 0px;
    float: left;
}

.cate-menu-item img {
    width: 240px;
    height: 146px;
    display: block;
    border-bottom: 1px solid #ccc;
}

.cate-menu-item .sub-class-right {
    width: 240px;
    height: 439px;
    border-left: 1px solid red;
    float: left;
}