@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button,
input {
  outline: none;
  border: none;
  background: white;
}

button {
  background: none;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
  /* 拖动滑块验证 */
}

#main .nc-register-bg {
  width: 100%;
  height: 680px;
  background: url(../../img/04reg/register_bg.png);
  clear: both;
}

#main .nc-register-bg .nc-register-box {
  width: 860px;
  height: 560px;
  padding: 10px;
  margin: auto;
  background-color: #ccc;
}

#main .nc-register-bg .nc-register-box .nc-register-layout {
  background-color: #FFF;
  display: block;
  width: 820px;
  height: 520px;
  padding: 19px;
  border: solid 1px #CCC;
  overflow: hidden;
  /* 右边-----注册之后可以 */
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left {
  width: 600px;
  height: 520px;
  float: left;
  /* 手机号注册 */
  /* 验证 */
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs-nav {
  width: 580px;
  height: 39px;
  border-bottom: 1px solid #ccc;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs-nav li {
  width: 290px;
  height: 40px;
  text-align: center;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs-nav li a {
  text-decoration: none;
  font-size: 18px;
  color: #999;
  line-height: 24px;
  padding-bottom: 13px;
  position: relative;
  z-index: 1;
  font-family: "微软雅黑";
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs-nav li a:hover {
  color: black;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container {
  width: 580px;
  height: 210px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content {
  width: 400px;
  height: 160px;
  padding: 50px 80px 0px 100px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst {
  /* 输入手机号 */
  /* 验证按钮 */
  /* 服务协议 */
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .mobile {
  width: 398px;
  height: 52px;
  border: 1px solid #ccc;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .mobile .mobile-dt {
  float: left;
  width: 88px;
  height: 20px;
  padding: 16px 0px 16px 20px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .mobile .mobile-dd {
  float: left;
  width: 290px;
  height: 28px;
  padding: 12px 0px;
  position: relative;
  /* 手机号不能为空 */
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .mobile .mobile-dd input {
  outline: none;
  background: white;
  border: none;
  width: 290px;
  height: 28px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .mobile .mobile-dd .error {
  font-size: 12px;
  width: 116px;
  height: 24px;
  padding: 8px 12px 8px 24px;
  background: #FFF5D9 no-repeat 0 0;
  position: absolute;
  line-height: 24px;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .mobile .mobile-dd .error .icon-jinggao {
  font-size: 28px;
  color: #FF500B;
  position: absolute;
  left: 5px;
  bottom: 6px;
  margin-right: 10px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .item-regist-slide {
  width: 400px;
  height: 42px;
  margin-top: 20px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .item-regist-slide .regist-slide {
  width: 306px;
  height: 40px;
  border: 1px solid #16bd53;
  margin: 0px 46px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .item-regist-slide .regist-slide i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../img/04reg/slider-click.png);
  position: absolute;
  top: 10px;
  left: 25px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .item-regist-slide .regist-slide span {
  line-height: 40px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .clause-div {
  width: 400px;
  height: 30px;
  margin-top: 15px;
  font-size: 14px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .clause-div a {
  text-decoration: none;
  color: #06C;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .clause-div a:hover {
  color: #C81623;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .clause-div .error {
  font-size: 12px;
  width: 116px;
  height: 24px;
  padding: 8px 12px 8px 24px;
  background: #FFF5D9 no-repeat 0 0;
  position: absolute;
  line-height: 24px;
  right: -190px;
  top: -30px;
  text-align: center;
  position: relative;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content .mobileFormFirst .clause-div .error .icon-jinggao {
  font-size: 28px;
  color: #FF500B;
  position: absolute;
  left: 5px;
  bottom: 6px;
  margin-right: 10px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond {
  width: 400px;
  height: 310px;
  /* 10十分钟内验证 */
  /*动态码，密码,重复密码 */
  /* 动态码，设置密码，重复密码----提示信息 */
  /* 再次获取动态码 */
  /* 立即注册 */
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond .m0 {
  width: 400px;
  height: 30px;
  line-height: 30px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(2),
#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(3),
#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(4) {
  width: 398px;
  height: 52px;
  border: 1px solid #ccc;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(2) dt,
#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(3) dt,
#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(4) dt {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  width: 88px;
  padding: 16px 0 16px 20px;
  float: left;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(2) dd,
#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(3) dd,
#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(4) dd {
  height: 28px;
  float: left;
  padding: 12px 0;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(2) dd input,
#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(3) dd input,
#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond dl:nth-of-type(4) dd input {
  width: 290px;
  height: 28px;
  border: none;
  outline: none;
  background: white;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond .pwdTip {
  position: relative;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond .pwdTip .error {
  font-size: 12px;
  width: 116px;
  height: 24px;
  padding: 8px 12px 8px 24px;
  background: #FFF5D9 no-repeat 0 0;
  position: absolute;
  line-height: 24px;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond .pwdTip .error .icon-jinggao {
  font-size: 28px;
  color: #FF500B;
  position: absolute;
  left: 5px;
  bottom: 6px;
  margin-right: 10px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond .tiptext {
  width: 400px;
  height: 23px;
  margin: 15px 0px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond .tiptext #send-code-again {
  line-height: 22px;
  color: #FFF;
  background-color: #21b384;
  vertical-align: middle;
  display: inline-block;
  height: 22px;
  padding: 0 8px;
  margin: 0 4px;
  border-radius: 2px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond .tiptext #first-code {
  font-size: 12px;
  color: #999;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond .tiptext #first-code .mr5 {
  font-weight: bold;
  color: #DD5A43 !important;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond .submit-div {
  font-family: "microsoft yahei";
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  background-color: #FF500B;
  width: 398px;
  height: 42px;
  border: solid 1px #e4393c;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 15px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .left .tabs_container .tabs-content #mobileFormSecond .submit-div #mobileSubmitSecond {
  width: 380px;
  height: 40px;
  padding: 0px 8px;
  margin: auto;
  line-height: 40px;
  background: #FF500B;
  color: white;
  font-size: 18px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .right {
  float: left;
  width: 200px;
  height: 500px;
  padding: 20px 0px 0px 19px;
  border-left: 1px solid #ccc;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .right .reister-after {
  width: 200px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .right .reister-after h4 {
  font-size: 14px;
  width: 200px;
  height: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  color: #333;
  font-style: normal;
  font-weight: normal;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .right .reister-after ol li {
  height: 24px;
  color: #999;
  line-height: 24px;
  margin-bottom: 10px;
  padding-left: 12px;
  width: 188px;
  padding-left: 12px;
  margin-bottom: 10px;
  font-size: 12px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .right .reister-after ol li i {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background: url(../../img/04reg/login_pic.png) no-repeat;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .right .reister-after ol li:nth-child(1) i:nth-of-type(1) {
  background-position: 0 -76px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .right .reister-after ol li:nth-child(2) i:nth-of-type(1) {
  background-position: -30px -76px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .right .reister-after ol li:nth-child(3) i:nth-of-type(1) {
  background-position: -60px -76px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .right .reister-after ol li:nth-child(4) i:nth-of-type(1) {
  background-position: -120px -76px;
}

#main .nc-register-bg .nc-register-box .nc-register-layout .right .reister-after ol li:nth-child(5) i:nth-of-type(1) {
  background-position: -150px -76px;
}

#main #slider {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
}
